@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--radius: 5px;
		--background: #161618;
		--background-light: #1b1b1d;
		--background-hover: rgb(47, 47, 49);
		--foreground: #fefefe;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: #a5a5a7;
		--muted-foreground: #636365;
		--accent: #adfa3f;
		--accent-foreground: 0 0% 98%;
		--destructive: #f6453d;
		--destructive-foreground: #ff8d87;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	ul,
	ol {
		list-style: revert;
		padding-inline-start: 1.6em;
	}

	body {
		@apply bg-background text-foreground;
	}

	input:invalid:not(:placeholder-shown) {
		@apply border-destructive;
		@apply ring-destructive-foreground;
	}

	input + p {
		@apply hidden;
	}

	input:invalid:not(:placeholder-shown) + p {
		@apply block;
		@apply text-destructive;
	}
}

strong {
	color: inherit !important;
}

::-webkit-scrollbar-track {
	margin: 0;
	border-radius: 0;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: transparent;
}

.overflow-x-scroll::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar {
	width: 0px;
	height: 2px;
	overflow: visible;
	background: transparent;
}
.overflow-y-scroll::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar {
	width: 3px;
	height: 0px;
	overflow: visible;
	background: transparent;
}

.overflow-y-scroll:hover::-webkit-scrollbar-thumb,
.overflow-x-scroll:hover::-webkit-scrollbar-thumb {
	background: var(--accent);
}
